@font-face {
    font-family: 'ITC';
    src: url('assets/fonts/itczapfbookmedium.otf') format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'madetommy';
    src: url('assets/fonts/madetommylight.otf') format('otf');
    font-style: normal;
}

:root {
    --pri: #3963A7;
    --sec: #3963A7;
    --ter: #ffffff;
    --popup: #ffffff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ter);
    color: var(--sec);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.apresentacao h1 {
    font-family: 'ITC';
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
}

.apresentacao h2 {
    text-transform: uppercase;
    font-size: 22pt;
}

.carousel {
    height: 480px;
}

.carousel-item {
    height: 480px;
    width: 850px;
}

.pics {
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 40px;
    width: 1000px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container p {
    font-size: 26pt;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 160px;
    width: 180px;
    padding: 35px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#paparazzifotografia .icon {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.descrição {
    width: 326px;
    text-align: center;
}

.presente {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
}

.modal-presente {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 800px;
    background-color: var(--pri);
    border-radius: 50px;
    padding: 30px;
}

.modal-presente img {
    height: 250px;
}

.modal-presente p {
    font-family: 'ITC';
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
    color: var(--popup);
}

.resgatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -70px;
    height: 100px;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #1AC920;
    color: white;
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.resgatar a {
    text-decoration: none;
    color: white;
}

.fechar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 50pt;
    font-weight: bold;
    position: absolute;
    right: -20px;
    top: -20px;
    height: 100px;
    width: 100px;
    background-color: #FF1A1A;
    border-radius: 100px;
}

.confete {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("./assets/others/sparkles.gif");

}

.idiomas {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 500px;
    gap: 30px;
}

.idiomas img {
    height: 65px;
}

.adminbotao {
    position: absolute;
    bottom: -5;
    right: 50px;
    height: 100px;
}

.adminbotao a {
    color: var(--sec);
    text-decoration: none;
}

.adminbotao a p {
    font-size: 25pt;
    font-weight: bold;
}

/* LIMPEZA */

.topbar {
    display: flex;
    flex-direction: row;
    color: var(--popup);
    background-color: var(--sec);
    gap: 100px;
    padding: 30px;
    text-align: center;
}

.topbar img {
    height: 100px;
}

.topbar h1 {
    font-size: 40pt;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.limpezatela {
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 100px;
    align-items: center;
}

.limpezatela h2 {
    text-transform: uppercase;
    font-size: 30pt;
    font-weight: lighter;
}

.iconegrande {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border-style: solid;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.iconegrande img {
    height: 150px;
    margin-top: 80px;
}

.iconegrande p {
    font-size: 30pt;
    color: var(--popup);
    background-color: var(--pri);
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    margin: 0;
}

/* RESTAURANTES */

.restaurantetela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botaoverde {
    height: 80px;
    background-color: var(--sec);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.botaoverde p {
    font-size: 30pt;
    color: var(--popup);
    text-transform: uppercase;
}

.reservacard {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100vw;
    padding: 50px;
    background-color: var(--ter);
    border-style: solid;
    border-color: var(--sec);
    gap: 30px;
    position: relative;
}

#thumbcard {
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.conteudorestaurante {
    display: flex;
    flex-direction: column;
}

#titulorestaurante {
    font-size: 34pt;
    font-weight: bold;
    margin: 0;
}

#descricaorestaurante {
    font-size: 30pt;
    margin: 0;
}

#horario {
    font-size: 30pt;
}

#estrelas {
    height: 40px;
    width: 200px;
}

#cardbotao {
    position: absolute;
    padding: 10px;
    bottom: 30px;
    right: 30px;

}

#frigobar img {
    padding: 10px;
}

.popupcontainer {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
}

.popupcontent {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 600px;
    background-color: var(--ter);
    border-radius: 50px;
    border-color: var(--pri);
    border-style: solid;
    padding: 30px;
    gap: 30px;
}

.popupcontent img {
    height: 150px;
}

.mpopupcontent p {
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
    color: var(--pri);
}

.popuptitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--pri);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20pt;
    font-weight: bold;
}

.popuptitulo p {
    margin: 0;
    padding: 0;
}

.horariosinfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    text-align: left;
    font-size: 20pt;
    gap: 30px;
}

.horariosinfo p {
    margin-top: 30px;
    color: var(--pri);
}

.botaovoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pri);
    border-radius: 300px;
    height: 100px;
    width: 100px;
}